.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.dashboard-grid {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.dashboard-card {
    background-color: var(--color-card);
    border-radius: 16px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 10px 30px color-mix(in srgb, var(--color-primary) 30%, transparent);
}

    .dashboard-card:hover {
        transform: translateY(-5px);
        background-color: var(--color-secondary);
    }

.card-icon {
    font-size: 48px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
}
