/* =========================
   レイアウト全体
========================= */
.page {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-background);
}
/* =========================
   サイドバー
========================= */
.header-sidebar {
    position: fixed;
    top: 60px; /* header高さに合わせる */
    left: -260px;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: #ffffff !important;
    border-right: 1px solid #ddd;
    transition: left 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: none;
}
    /* メニュー開いた状態 */
    .header-sidebar.open {
        left: 0;
    }
/* =========================
   オーバーレイ
========================= */
.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(0,0,0,0.25);
    z-index: 999;
    backdrop-filter: blur(2px);
}
/* =========================
   メインコンテンツ
========================= */
main {
    min-height: 100vh;
    background-color: var(--color-background);
}

/* Header分余白 */
.content {
    padding: 24px;
}

/* =========================
   PC表示対応
========================= */

@media (min-width: 768px) {
    .overlay {
        display: none;
    }
}
/* =========================
   ヘッダー部
========================= */
/*上部バー*/
.top-bar {
    height: 60px;
    border-top: 2px solid var(--color-text);
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
}

/*ロゴのフォント*/
.logo {
    font-size: 20px;
}

/* ハンバーガーメニューを開くためのボタン */
.menu-btn {
    background: none;
    border: none;
    font-size: 32px;
    color: var(--color-secondary);
    cursor: pointer;
    transition: 0.2s;
}

    .menu-btn:hover {
        transform: scale(1.1);
        color: var(--color-text);
    }

/* ログアウトボタン */
.logout-button {
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 999px;
    background-color: var(--color-primary);
    color: var(--color-background);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

    .logout-button:hover {
        background-color: var(--color-text);
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(115, 159, 61, 0.3);
    }