.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-modal {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;
}

.cancel-button {
    border: none;
    background-color: #dcdcdc;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}
/*既成商品登録ボタン、自炊料理登録ボタン*/
.food-regist-button {
    border: none;
    background-color: #F69454;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.delete-button {
    border: none;
    background-color: #922951;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.meal-table tbody tr {
    cursor: pointer;
    transition: 0.2s;
}

.meal-table tbody tr:hover {
        background-color: #f5f5f5;
}